[user]
	email = maximo@mit.edu
	name = Maximo Machado
[init]
	defaultBranch = main
[credential]
	helper = "/mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe"
[alias]
    co = checkout
    cob = "checkout -b"
    lol = "log --graph --oneline --decorate --color --all"
    df = "diff --staged"
    s = "status"

