# Exclude Everything
/*

# Folders to include
!/tmux/
!/nvim/
!/fish/
!/cava/
!/.ssh
!/setup-files
!/jrnl/

# Files to include
!.gitignore
!README.md

!.gitconfig
!.zshrc


!setup.fish
!starship-setup.sh
!link-configs.sh


