# Exclude everything
/*


# Files to include
!.gitignore


# To include file within folder need to do some funky stuff
!/functions/
/functions/*
!/functions/fish_prompt.fish
!/functions/fish_user_key_bindings.fish
!/functions/fish_mode_prompt.fish

!setup.fish
!README.md
!config.fish
